* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header>section {
    background-color: rgb(180, 208, 231);
    height: 80vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}


ul {
    display: flex;
    list-style: none;
}

li {
    padding: 1rem;
}

header>section {
    display: flex;
    justify-content: center;
    position: relative;
}


.jumbotron {
    position: absolute;
    width: 700px;
    height: 400px;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
}


.header-info {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

.header-info>h1,
p,
button {
    align-self: flex-start;
    z-index: 2;
}

.column-trio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.5em;
}


.column {
    height: 50em;
    width: 20em;
    background-color: aquamarine;
    border: 1px solid black;
}

.column-row {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}

.row {
    height: 15em;
    width: 63em;
    background-color: aquamarine;
    border: 1px solid black;
}

.business-plan {
    margin-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.business-plan>h2 {
    padding: 2rem 0;
}




.partner-img {
    height: 20rem;
    width: 5rem;
    background-color: blue;
}

.icon {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0.7rem;
}

.upper-column,
.mid-column,
.lower-column {
    padding-left: 1rem;
    padding-top: 2rem;
}

.row-content {
    padding: 1rem;
}

.dropbox-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    padding-top: 10rem;
}


.partner-img {
    width: 30%;
}

.partner-text {
    width: 20%;
}

.dropbox-title {
    text-align: center;
    padding-top: 5rem;
}

.dropbox-business,
.dropbox-business-two {
    display: flex;
    justify-content: center;
    padding-top: 12rem;
    column-gap: 2rem;
}

.dropbox-business-two {
    padding-bottom: 20rem;
}

.card-size>.card-img {
    position: relative;
}

.card-description {
    position: absolute;
}

.card-img {
    height: 250px;
    width: 250px;
    background-color: green;
}


.card-description {
    width: 250px;
    text-align: left;

}

.about-customers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 20%;
}

.big-container {
    display: flex;
    margin-left: 1px;
}



.sponsor>.small-sponsor {
    height: 300px;
    width: 300px;
    border: 1px solid black;
}



.big-sponsor>.big-sponsor-two {
    height: 600px;
    width: 700px;
    border: 1px solid green;
}


.below-sponsor {
    height: 40vh;
    background-color: rgb(180, 208, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: 120%;
}

.questions>h2,
p {
    padding: 2rem 0;
}