* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header>section {
    background-color: rgb(180, 208, 231);
    height: 80vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid black;
}


ul {
    display: flex;
    list-style: none;
}

li {
    padding: 1rem;
}

section {
    display: flex;
    justify-content: center;
    position: relative;
}


.jumbotron {
    position: absolute;
    width: 700px;
    height: 400px;
    background-color: aqua;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 1;
}


.header-info {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

.header-info>h1,
p,
button {
    align-self: flex-start;
    background-color: red;
    z-index: 2;
}