* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}


.lista-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}


.list-one,
.list-two {
    display: flex;
    list-style: none;
}



li {
    padding: 1rem;
    color: rgb(128, 128, 128);
}


.start {
    padding: 0.5em 1em;
    font-size: 90%;
    background-color: rgb(0, 92, 241);
    color: white;
    border: none;
}

header>section {
    background-color: rgb(180, 208, 231);
    height: 70vh;
    position: relative;
}

.header-title {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5rem;
}

.header-title>h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

.header-text {
    width: 40%;
    font-size: 105%;
}

.header-text>p {
    padding: 1rem 0;
}

.start-trial {
    background-color: rgb(0, 92, 241);
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 100%;
}

i.fa-arrow-down {
    font-size: 3em;
    padding-top: 2.5rem;
}


.jumbotron {
    position: absolute;
    width: 720px;
    height: 420px;
    position: absolute;
    top: 45%;
    left: 45%;
}

.jumbotron>img {
    width: 720px;
    height: 420px;
    object-fit: fill;
}


.business-plan {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 7%;
    padding-bottom: 5%;
}

.business-plan>h2 {
    font-size: 200%;
    padding-bottom: 3rem;
}

div>span {
    padding-right: 1.5rem;
}


.column-trio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.5em;
}


.column {
    height: 55em;
    width: 21em;
    border: 1px solid rgb(231, 231, 232);
}

.column>.hr {
    width: 25%;
    padding: 1em;
}

.column-row {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}



.icon {
    text-align: center;
    border-bottom: 1px solid rgb(231, 231, 232);
    padding: 0.7rem;
}

.bold-text {
    font-weight: bold;
}


.upper-column>h2,
.mid-column>h2,
.lower-column>h2 {
    padding-left: 1rem;
    padding-top: 7%;
}


.upper-column>p,
.mid-column>p,
.lower-column>p {
    padding-left: 1rem;
    padding-top: 7%;
    font-size: 86%;
}


.mid-column>div {
    padding: 2.5rem 3em;
}


.start-trial.contact {
    padding: 0.5em 4em;
}

.lower-column>p:first-child {
    font-weight: bold;
}

.row {
    height: 16em;
    width: 66em;
    border: 1px solid rgb(231, 231, 232);
}

.row-content {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
}

.row-content p:nth-of-type(1) {
    padding-top: 2%;
    font-size: 90%;
}

.row-content p:nth-of-type(2) {
    padding-top: 6%;
    font-size: 90%;
    width: 90%;
}

.row-content div:nth-of-type(2) {
    padding-right: 4rem;
}



.dropbox-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
    padding-top: 10rem;
}


.partner-img {
    height: 450px;
    width: 500px;
}


.partner-img>img {
    height: 450px;
    width: 500px;
    object-fit: fill;
}


.partner-text {
    width: 15%;
}

.partner-text>h2,
.partner-text>p,
.partner-text>div {
    padding-bottom: 1.5em;
}

.find-partner {
    background-color: white;
    font-size: 100%;
    padding: 0.5em;
}

.dropbox-title {
    text-align: center;
    padding-top: 8rem;
    font-size: 2.5rem;
}

.dropbox-business {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    column-gap: 2rem;
}


.dropbox-business-two {
    display: flex;
    justify-content: center;
    padding-top: 15rem;
    column-gap: 2rem;
    padding-bottom: 15rem;
}


.card-size {
    position: relative;
    height: 250px;
    width: 290px;
}


.card-img {
    height: 250px;
    width: 290px;
    object-fit: fill;
}

.card-description {
    position: absolute;
}



.card-description {
    width: 290px;
    text-align: left;

}

.card-description>h3 {
    font-size: 150%;

}

.card-description>p {
    padding-top: 1.5em;
    font-size: 95%;
}


.about-customers {
    margin-left: 25%;
    width: 30%;
    font-size: 150%;
    padding-bottom: 4rem;
}

.about-customers>h2 {
    padding: 7rem 0 4rem;
}

.about-customers>a {
    font-size: 60%;
}

.big-container {
    display: flex;
    margin-left: 1px;
}


.sponsor>.small-sponsor {
    height: 300px;
    width: 300px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-sponsor.light-green {
    background-color: rgb(162, 211, 155);
    border: 15px solid rgb(209, 233, 205);
}

.small-sponsor.light-blue {
    background-color: rgb(0, 147, 206);
}

.small-sponsor.bordeaux {
    background-color: rgb(97, 8, 43);
}

.small-sponsor.red {
    background-color: rgb(255, 28, 28);
}

.small-sponsor.light-red {
    background-color: rgb(213, 0, 31);
}

.small-sponsor.blue {
    background-color: rgb(13, 36, 129);
}

.small-sponsor.lighter-blue {
    background-color: rgb(180, 208, 231);
}

.small-sponsor.yellow {
    background-color: rgb(255, 216, 48);
}

.img-logo {
    filter: invert(100%);
}


.img-container {
    height: 100px;
    width: 150px;
}


.img-container>.img-logo {
    height: 100px;
    width: 150px;
    object-fit: fill;
}

.img-container#container-florida {
    height: 30px;
}

.img-logo.florida {
    height: 30px;
}


.big-sponsor-two {
    height: 600px;
    width: 700px;
    background-color: rgb(245, 245, 245);
}


.below-sponsor {
    height: 40vh;
    background-color: rgb(180, 208, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-size: 120%;
}

.questions>h2 {
    padding: 2rem 0;
}

.questions>p {
    padding: 2rem 0;
}

footer {
    height: 50vh;
    background-color: rgb(0, 0, 0);
    color: white;
}

.nav-foot {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.foot-list {
    list-style: none;
}

.foot-list>li {
    padding: 5% 0;
}

.language {
    display: flex;
    justify-content: center;
    padding-right: 44rem;
    padding-top: 3rem;
}

.language>article {
    width: 20%;
}